// Colour scheme
$black: #000000
$grey: #333
$green: #78C040
$blue: #007989
$brightBlue: #32aed4
$purple: #563E71
$orange: #DE772C
$brown: #D8D4C2
$white: #ffffff

// Typography
$normal-text: 'Calibri', sans-serif !default;
$display-text: 'samaritans-webfont', Arial, sans-serif !default;
    
$max-width: 1016px