@import '_fonts'
@import '_vars'
@import '_keyframes'

// Dialog polyfill CSS
@import 'dialog-polyfill/dialog-polyfill'

// Resets
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: $normal-text

// Background gradient
body
    background: linear-gradient(to right, #d8d4c2 0%, #fdfdfd 29%, #fdfdfd 71%, #d8d4c2 100%)

a
    color: $blue

p
    line-height: 1.5em
    margin-bottom: 15px

.visually-hidden
    font-size: 0
    opacity: 0
    left: -10000px

// IE fix
main
  display: block

// Fixed width container
.container
    max-width: $max-width
    margin: 0px auto
    padding: 0px 15px


// Phase banner
.phase-banner
    background: $black
    color: $white

.phase-banner__inner
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center

.phase-banner__icon
    display: inline-block
    height: 70px
    flex: 0
    width: auto
    margin-right: 20px
    @media screen and (min-width: 600px)
        max-height: 45px

.phase-banner__text
    display: inline-block
    margin: 10px 0px
    flex: 1


// Site header
.site-header
    padding: 20px 0px


// Page header
.page-header
    background: $green
    padding: 20px 0px
    position: relative
    &:after
        left: 0
        right: 0
        background-repeat: no-repeat
        background-size: 2200px 20px
        background-position: left top
        content: ""
        display: block
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIyMDAgMjAiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDIyMDAgMjAiIHNoYXBlLXJlbmRlcmluZz0iZ2VvbWV0cmljUHJlY2lzaW9uIiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPi5zdDB7ZmlsbDojN2FjMTQzO308L3N0eWxlPjxwb2x5Z29uIGNsYXNzPSJzdDAiIHBvaW50cz0iMCAyMCAwIDAgMjIwMCAwIi8+PC9zdmc+)
        width: 100%
        height: 10px
        position: absolute
        bottom: -9px
        z-index: -1
    @media screen and (min-width: 992px)
        padding: 30px 0px
    &.page-header--overlap
        padding-bottom: 90px
        margin-bottom: -70px
        @media screen and (min-width: 768px)
            padding-bottom: 110px

.page-header__breadcrumbs
    list-style: none
    margin-bottom: 15px
    @media screen and (min-width: 992px)
        margin-bottom: 20px

.page-header__breadcrumb
    display: inline-block
    font-size: 1.1em

.page-header__breadcrumb-link
    color: inherit
    margin-right: 20px
    position: relative
    &:after
        position: absolute
        top: 3px
        right: -15px
        height: 10px
        width: 7px
        background-size: contain
        background-repeat: no-repeat
        content: ""
        display: block
        background-image: url('/img/chevron-right.svg')
    
.page-header__headline
    font-family: $display-text
    margin-bottom: 10px
    @media screen and (min-width: 768px)
        font-size: 2em
    @media screen and (min-width: 992px)
        margin-bottom: 10px
        font-size: 3em

.page-header__lede
    font-size: 1.1em
    margin-top: 0px
    @media screen and (min-width: 768px)
        font-size: 1.2em
        max-width: 66.67%
    @media screen and (min-width: 992px)
        font-size: 1.4em


// Site footer
.site-footer
    padding: 40px 0px
    background: $blue
    color: $white

.site-footer__menu
    margin-bottom: 15px

.site-footer__menu-item
    display: inline-block
    margin-right: 10px
    border-right: 1px solid $white
    padding-right: 10px
    &:last-of-type
        margin-right: 0px
        border-right: none
        padding-right: 0px

.site-footer__menu-link
    color: $white

.site-footer__copyright
    margin-bottom: 15px

.site-footer__legal
    font-size: 0.9em
    color: transparentize($white, 0.25)


// No-block content
.content
    padding: 60px 0px

// Block
.block
    background: $white
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1)
    padding: 20px
    position: relative
    z-index: 1
    margin-bottom: 20px
    &.block--bottom-margin
        margin-bottom: 60px
    @media screen and (min-width: 768px)
        padding: 25px
    @media screen and (min-width: 992px)
        padding: 30px

.block__title
    font-family: $display-text
    margin-bottom: 25px
    @media screen and (min-width: 992px)
        margin-bottom: 35px

// Recent applicants table
.applicants-table
    width: 100%
    text-align: left
    border-spacing: 0px
    border-collapse: collapse
    margin-bottom: 35px
    thead
        background: $brown
        th
            padding: 15px 12px 12px 12px
            text-transform: uppercase
            color: transparentize($grey, 0.5)
    tbody
        tr
            border-bottom: 1px solid transparentize($grey, 0.9)
        td, th
            padding: 15px 12px 12px 12px
        th
            font-weight: bold
        td:first-letter
            text-transform: uppercase

    // Hide three columns
    // thead th:nth-of-type(3), tbody td:nth-of-type(2)
    //     text-align: right
    thead th:nth-of-type(2), tbody td:nth-of-type(1)
        display: none
    thead th:nth-of-type(4), tbody td:nth-of-type(3)
        display: none
    @media screen and (min-width: 600px)
        // thead th:nth-of-type(3), tbody td:nth-of-type(2)
        //     text-align: left
        thead th:nth-of-type(2), tbody td:nth-of-type(1)
            display: table-cell
        thead th:nth-of-type(4), tbody td:nth-of-type(3)
            display: table-cell

// Button
.button
    display: inline-block
    background: $green
    border-radius: 2px
    border: 0
    color: $black
    font-size: 1em
    padding: 15px
    text-decoration: none
    text-align: center
    margin-right: 15px
    box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.5)
    cursor: pointer
    font-family: $display-text
    min-width: 100px
    position: relative
    &:focus
        box-shadow: none

    &.button--start
        padding-top: 17px
        padding-right: 55px
        padding-bottom: 14px
        &:before
            content: ''
            background-position: left center
            position: absolute
            background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 43 100"%3E%3Cpath fill="%237ac143" d="M0,0L43,50L0,100Z"/%3E%3C/svg%3E')
            background-repeat: no-repeat
            background-size: contain
            width: 3rem
            top: 0
            bottom: 0
            right: -2.94rem
        &:after
            content: ''
            position: absolute
            background-position: left center
            background-image: url('/img/arrow.png')
            background-repeat: no-repeat
            background-size: cover
            width: 23px
            height: 18px
            top: 50%
            margin-top: -9px
            right: 1rem

    &.button--download
        padding-top: 17px
        padding-right: 55px
        padding-bottom: 14px
        &:after
            content: ''
            position: absolute
            background-position: left center
            background-image: url('/img/arrow.png')
            background-repeat: no-repeat
            background-size: cover
            transform: rotate(90deg)
            width: 23px
            height: 18px
            top: 50%
            margin-top: -9px
            right: 1.1rem


// Pagination and table controls
.controls
    display: flex
    flex-direction: row
    justify-content: space-between

.controls__export
    display: none
    @media screen and (min-width: 768px)
        display: inline-block
        
.pagination
    display: flex
    flex-direction: row
    justify-content: flex-end

.pagination__button:last-of-type
    margin-right: 0px


// Table filter and sort
.applicants-filters
    margin-bottom: 25px
    @media screen and (min-width: 768px)
        float: right
        margin-top: -67px

.applicants-filters__select
    margin-right: 10px
    width: 75%
    font-size: 1em
    padding: 5px
    border-radius: 2px
    border: 1px solid transparentize($grey, 0.9)
    color: $grey
    background: none
    background-image: url('/img/chevron-down.svg')
    background-size: 20px
    background-repeat: no-repeat
    background-position: 99% center
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    &:first-of-type
        margin-bottom: 10px
    @media screen and (min-width: 768px)
        width: 195px
        &:first-of-type
            margin-bottom: 0px
        &:last-of-type
            margin-right: 0px

// Grid helper
.grid
    @supports( display: grid )
        @media screen and (min-width: 768px)
            display: grid
            grid-column-gap: 20px
            grid-column-gap: 25px
        @media screen and (min-width: 992px)
            grid-column-gap: 30px
        &.grid--with-sidebar
            grid-template-columns: 2fr 1fr    
        &.grid--three-columns
            grid-template-columns: 1fr 1fr 1fr  
        &.grid--bottom-margin
            margin-bottom: 60px
        

// Applicant details table
.details-table
    width: 100%
    text-align: left
    border-spacing: 0px
    border-collapse: collapse
    &.details-table--bottom-margin
        margin-bottom: 35px
    td, th
        padding: 5px 0px
        font-size: 1.1em
        text-align: left
        vertical-align: top
        width: 50%
        &.break-all
            word-break: break-all
    th
        padding: 5px 15px 5px 0px
        font-weight: normal
    td
        font-weight: bold

    ul
        list-style: none
        li
            margin-bottom: 5px


// Timeline
.timeline
    list-style: none
    @media screen and (min-width: 992px)
        display: flex
        flex-direction: row

.timeline__step
    display: flex
    flex-direction: column
    justify-content: center
    min-height: 60px
    position: relative
    padding-left: 60px
    p
        margin-bottom: 0px

    // Circle badges
    &:before
        content: ""
        height: 35px
        width: 35px
        top: 50%
        transform: translateY(-50%)
        border: 3px solid $green
        border-radius: 100%
        position: absolute
        left: 0px
        display: flex
        justify-content: center
        align-items: center
        font-family: $display-text
        font-size: 1.3em
        color: $green
        background: $white
        z-index: 2

    // Dotted line connectors
    &:after
        position: absolute
        left: 19px
        bottom: 30px
        content: ""
        display: block
        border-left: 3px solid $green
        height: 60px
        z-index: 1
    &:first-of-type:after
        display: none

    // Numbers
    &:nth-child(1):before
        content: "1"
    &:nth-child(2):before
        content: "2"
    &:nth-child(3):before
        content: "3"
    &:nth-child(4):before
        content: "4"

    // Different states
    &.timeline__step--complete
        &:before
            content: ""
            background: $green
            background-image: url("/img/tick.svg")
            background-size: 15px
            background-position: center
            background-repeat: no-repeat
    &.timeline__step--inactive
        &:before
            content: "?"
            border-color: transparentize($grey, 0.75)
            color: transparentize($grey, 0.75)
        &:after
            border-color: transparentize($grey, 0.75)

    @media screen and (min-width: 992px)
        text-align: center
        padding-top: 60px
        padding-left: 15px
        padding-right: 15px
        justify-content: flex-start
        flex: 1
        &:before
            top: 0px
            left: 50%
            transform: translateX(-50%)
        &:after
            left: -50%
            top: 20px
            content: ""
            display: block
            border-left: none
            border-top: 3px solid $green
            height: 0px
            width: 100%
            z-index: 1


.timeline__small
    color: transparentize($grey, 0.5)
    &:first-letter
        text-transform: capitalize


// Small help text
.small
    font-size: 0.9em

.with-tooltip
    cursor: help

.none-given
    color: transparentize($grey, 0.5)
    font-style: italic
    font-weight: normal

// Email link
.email-link
    display: block
    margin: 5px 0px
    // margin-left: 15px
    &:before
        content: ""
        display: inline-block
        margin-right: 8px
        background-image: url('/img/mail.svg')
        width: 15px
        height: 15px
        background-repeat: no-repeat
        margin-bottom: -3px


// Modal

.modal
    max-width: 600px
    margin: 0px 30px
    position: fixed
    top: 60px
    left: 0px
    right: 0px
    z-index: 100
    border-radius: 2px
    border: none
    overflow: hidden
    animation: fadeIn 0.2s ease-out
    @media screen and (min-width: 600px)
        top: 120px
        margin: 0px auto
    &::backdrop
        background: transparentize($grey, 0.5)
        animation: fadeIn 0.2s ease-out

// For polyfill
._dialog_overlay
        background: transparentize($grey, 0.5)
        animation: fadeIn 0.2s ease-out

.modal__close
    width: 25px
    height: 25px
    float: right
    border: none
    background: none
    background-image: url('/img/cross.svg')
    background-size: cover
    background-position: center
    font-size: 0
    color: rgba(0,0,0,0)
    cursor: pointer

.modal__inner
    p
        font-size: 1.1em

.modal__title
    margin-bottom: 20px

.modal__button
    margin-top: 20px


// KPIs
.kpi__stat
    color: $green
    font-family: $display-text
    font-size: 2em
    display: block
    margin-bottom: 5px
    min-height: 38px
    @media screen and (min-width: 992px)
        font-size: 2em
    &:before, &:after
        display: none
    &.kpi__stat--orange
        color: $orange
    &.kpi__stat--purple
        color: $purple

.kpi__caption
    font-style: normal
    font-size: 0.9em


// Loader
.loader
    position: relative
    padding-top: 20px
    display: block
    span
        width: 7px
        height: 7px
        background: transparentize($grey, 0.75)
        display: block
        position: absolute
        top: 0px
        left: 0px
        border-radius: 100%
        animation: throb 0.9s ease-in-out infinite
        &:nth-of-type(2)
            left: 12px
            animation-delay: 0.3s
        &:nth-of-type(3)
            left: 24px
            animation-delay: 0.6s


// Notification bar panel
.panel
    background-color: transparentize($brown, 0.5)
    padding: 10px
    margin-bottom: 25px
    border-radius: 2px

    p
        margin-bottom: 0px