<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}Recruitment dashboard | Samaritans{% endblock %}</title>
    <link href="/main.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/img/favicon.ico" />
</head>
<body>

    <section class="phase-banner">
        <div class="phase-banner__inner container">
            <p class="phase-banner__text">This service is being tested and may change significantly – your <a href="mailto:volunteering@samaritans.org">feedback</a> will help us improve it.</p>
        </div>
    </section>

    <div class="container">
        {% block main %}{% endblock %}
    </div>

    <script src="/bundle.js"></script>
</body>
</html>