<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}Recruitment dashboard | Samaritans{% endblock %}</title>
    <link href="/main.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/img/favicon.ico" />
</head>
<body>

    <section class="phase-banner">
        <div class="phase-banner__inner container">
            <p class="phase-banner__text">This service is being tested and will change significantly – <a href="https://samaritans-digital.github.io/recruitment-dashboard.html">learn more</a> or <a href="mailto:volunteering@samaritans.org?subject=Feedback about the recruitment dashboard">give feedback</a>.</p>
        </div>
    </section>

    <div class="container">
        {% block main %}{% endblock %}
    </div>

    <script src="/bundle.js"></script>
</body>
</html>