<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}Recruitment dashboard | Samaritans{% endblock %}</title>
    <meta name="Description" content="See details of recent applicants, and monitor how recruitment is going at your branch.">
    <link href="/main.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/img/favicon.ico" />
</head>
<body>

    <section class="phase-banner">
        <div class="phase-banner__inner container">
            <p class="phase-banner__text">This service is being tested and will change significantly – <a href="https://samaritans-digital.github.io/recruitment-dashboard.html">learn more</a> or <a href="mailto:volunteering@samaritans.org?subject=Feedback about the recruitment dashboard">give feedback</a>.</p>
        </div>
    </section>

    <header class="site-header">
        <div class="container">
            <a class="site-header__link" href="/">
                <img class="site-header__logo" src="/img/logo.png" alt="Samaritans"/>
            </a>
        </div>
    </header>

    <section class="page-header {% block headerModifierClass %}{% endblock %}">
        <div class="container">
            <ul class="page-header__breadcrumbs">{% block breadcrumbs %}{% endblock %}</ul>
            <h1 class="page-header__headline">{% block headline %}{% endblock %}</h1>
            <p class="page-header__lede">{% block lede %}{% endblock %}</p>
        </div>
    </section>

    <div class="container">
        {% block main %}{% endblock %}
    </div>

    <footer class="site-footer">
        <div class="container">
            <ul class="site-footer__menu">
                {% block footerMenu %}
                    <li class="site-footer__menu-item">
                        <a class="site-footer__menu-link" href="https://samaritans.org">Samaritans website</a>
                    </li>
                    <li class="site-footer__menu-item">
                        <a class="site-footer__menu-link" href="https://volunteer.samaritans.org/volunteer">Volunteer with us</a>
                    </li>
                    {% if isAdmin %}
                        <li class="site-footer__menu-item">
                            <a class="site-footer__menu-link" href="/users">Manage users</a>
                        </li>
                    {% endif %}
                    <li class="site-footer__menu-item">
                        <a class="site-footer__menu-link" href="/logout">Log out</a>
                    </li>
                {% endblock %}
            </ul>
            <p class="site-footer__copyright">{% block copyright %}© Copyright 2018 Samaritans. Built by the Samaritans digital team.{% endblock %}</p>
            <p class="site-footer__legal">{% block legal %}Samaritans is a charity registered in England and Wales (219432) and in Scotland (SC040604) and incorporated in England and Wales as a company limited by guarantee (757372). Samaritans Ireland is a charity registered in the Republic of Ireland (20033668) and incorporated in the Republic of Ireland as a company limited by guarantee (450409). Samaritans in Scotland is a charity registered in Scotland (SC009843) and incorporated as a Scottish Charitable Incorporated Organisation.{% endblock %}</p>
        </div>
    </footer>
    <script src="/bundle.js"></script>
</body>
</html>