{% extends "_layout.njk" %}

{% block title %}{{applicant.firstName}} {{applicant.lastName}}{% endblock %}
{% block headerModifierClass %}page-header--overlap{% endblock %}
{% block breadcrumbs %}
    <li class="page-header__breadcrumb"><a class="page-header__breadcrumb-link" href="/">Dashboard</a></li>
    <li class="page-header__breadcrumb">Applicant details</li>
{% endblock %}
{% block headline %}{{applicant.firstName}} {{applicant.lastName}}{% endblock %}
{% block lede %}Potential <strong>{{applicant.role | prettyRole}}</strong> for <strong>{{ branch }}</strong> branch {% endblock %}
{% block main %}

<div class="grid grid--with-sidebar grid--bottom-margin">

    <main>
        <article class="block">
            <h2 class="visually-hidden">Application history</h2>
            <ol class="timeline">
                <li class="timeline__step timeline__step--complete">
                    <p>Applied {{applicant.applicationTime | prettyDate}}</p>
                    <span class="timeline__small small">{{applicant.applicationTime | timeTo}}</span>
                </li>

                {% if applicant.booking %}

                    {% if applicant.sentMailReminder%}
                        <li class="with-tooltip timeline__step timeline__step--complete" title="Email reminders are sent a week before the interview.">
                            <p>Email reminder sent</p>
                        </li>
                    {% elif interviewComplete %}
                    {% else %}
                        <li class="with-tooltip timeline__step" title="Email reminder will be sent one week before the interview">
                            <p>Email reminder not yet sent</p>
                        </li>
                    {% endif %}

                    {% if applicant.sentSmsReminder %}
                        <li class="with-tooltip timeline__step timeline__step--complete" title="SMS reminders are sent 24 hours before the interview.">
                            <p>SMS reminder sent</p>
                        </li>
                    {% elif interviewComplete %}
                    {% else %}
                        <li class="with-tooltip timeline__step" title="SMS reminder will be sent one day before the interview">
                            <p>SMS reminder not yet sent</p>
                        </li>
                    {% endif %}

                    {% if interviewComplete %}
                        <li class="timeline__step timeline__step--complete">
                            <p>Interviewed {{applicant.booking.startTime | prettyDate}}</p>
                            <span class="timeline__small small">{{applicant.booking.startTime | timeTo}}</span>
                        </li>
                    {% else %}
                        <li class="timeline__step">
                            <p>Interview on {{applicant.booking.startTime | prettyDate}}</p>
                            <span class="timeline__small small">{{applicant.booking.startTime | timeTo}}</span>
                        </li>
                    {% endif %}

                {% else %}
                    <li class="timeline__step timeline__step--inactive">
                        <p>No interview booked</p>
                    </li>
                {% endif %}

            </ol>
        </article>

        <article class="block">
            <h2 class="block__title">Contact details</h2>
            <table class="details-table">
                <tbody>
                    <tr>
                        <th scope="row">First name</th>
                        <td>{{applicant.firstName}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Surname</th>
                        <td>{{applicant.lastName}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td>{{applicant.email}} <a class="email-link" href="mailto:{{applicant.email}}">Email applicant</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Phone</th>
                        <td>{{applicant.phone}}</td>
                    </tr>
                </tbody>
            </table>
        </article>

        <article class="block">
            <h2 class="block__title">Interview booking</h2>
            {% if applicant.booking %}

                {% if interviewComplete %}
                    <section class="panel">
                        <p class="small">This interview is in the past, but you can still reschedule it.</p>                    
                    </section>
                {% elif applicant.branchId !== applicant.booking.branch.id %}
                    <section class="panel">
                        <p class="small">This interview will be conducted by a different branch.</p>                    
                    </section>
                {% endif %}


                <table class="details-table details-table--bottom-margin">
                    <tbody>
                        <tr>
                            <th scope="row">Date and time</th>
                            <td>{{ applicant.booking.startTime | prettyDate }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Type</th>
                            <td>{{applicant.booking.type | prettyInterviewType}}</td>
                        </tr>
                        {% if applicant.branchId !== applicant.booking.branch.id %}
                            <tr>
                                <th scope="row">Host branch</th>
                                <td>
                                    {{applicant.booking.branch.name}}
                                    <a class="email-link" href="mailto:{{applicant.booking.branch.email}}">Email host branch</a>
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th scope="row">For role</th>
                            <td>{{applicant.role | prettyRole}}</td>
                        </tr>
                    </tbody>
                </table>
                <button class="button button--start" id="launch-modal">Reschedule or cancel</button>
            {% else %}
                <span class="none-given">No interview booked.</span>
            {% endif %}
        </article>

    </main>



    <aside class="sidebar">

        <article class="block">
            <h2 class="block__title">Contact preferences</h2>
            <table class="details-table">
                <tbody>
                    <tr>
                        <th scope="row">This person wants to hear about...</th>
                        <td>
                            {% if not applicant.contactFundraising and not applicant.contactAboutPeopleInNeed %}
                                <span class="none-given">Not given</span>
                            {% else %}
                                <ul>
                                    {% if applicant.contactAboutPeopleInNeed %}<li>Vital work</li>{% endif %}
                                    {% if applicant.contactFundraising %}<li>Fundraising</li>{% endif %}
                                </ul>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">By...</th>
                        <td>
                            {% if not applicant.contactByEmail and not applicant.contactBySms and not applicant.contactByPhone %}
                                <span class="none-given">Not given</span>
                            {% else %}
                                <ul>
                                    {% if applicant.contactByEmail %}<li>Email</li>{% endif %}
                                    {% if applicant.contactBySms %}<li>SMS</li>{% endif %}
                                    {% if applicant.contactByPhone %}<li>Phone</li>{% endif %}
                                </ul>
                            {% endif %}

                        </td>
                    </tr>
                </tbody>
            </table>
        </article>

        <article class="block">
            <h2 class="block__title">More about them</h2>
            <table class="details-table details-table--bottom-margin">
                <tbody>
                    <tr>
                        <th scope="row">Gender</th>
                        <td>{{applicant.gender | noneGiven | safe}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Ethnic background</th>
                        <td class="break-all">{{applicant.ethnicBackground | noneGiven | safe}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Age group</th>
                        <td>{{applicant.ageRange | noneGiven | safe}}</td>
                    </tr>
                </tbody>
            </table>
            <table class="details-table">
                <tbody>
                    <tr>
                        <th scope="row">Accessibility requirements</th>
                        <td>{{applicant.accessibilityRequirements | noneGiven | safe}}</td>
                    </tr>
                </tbody>
            </table>
        </article>

        <article class="block">
            <h2 class="block__title">Location</h2>
            {% if location.city %}
                <p>Based on their IP address, this person was in <strong>{{location.city}}, {{location.country_name}}</strong> when they applied.</p>
                <p class="small">IP address locations aren't always accurate and shouldn't be relied on.</p>
            {% else %}
                <p class="none-given">No location recorded.</p>
            {% endif %}
        </article>

    </aside>
</div>

{# Overlay #}
<dialog class="modal block">
    <button class="modal__close">Close</button>
    <article class="modal__inner">
        <h2 class="block__title modal__title">Reschedule or cancel this interview</h2>
        <p>You can cancel or reschedule this person's booked interview on their behalf. They will get an automated email confirming the new interview time.</p>
        <p><strong>Only do this if you've been in touch with them beforehand</strong> and they understand that their interview is being rescheduled.</p>
        <a href="http://volunteer.samaritans.org/volunteer/{{applicant.id}}/reschedule" class="button button--start modal__button">Continue</a>
    </article>
</dialog>

{% endblock %}
