<script async src="https://www.googletagmanager.com/gtag/js?id=UA-548427-9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ ga }}');
</script>
