{% extends "_layout.njk" %}

{% macro loader() %}
    <span class="loader">
        <span></span>
        <span></span>
        <span></span>
    </span>
{% endmacro %}

{% block headerModifierClass %}page-header--overlap{% endblock %}
{% block headline %}Recruitment dashboard{% endblock %}
{% block lede %}See how your branch is performing in recruitment, relative to others in the region and the country.{% endblock %}
{% block main %}

{% if page === 1 %}
    <section class="kpis grid grid--three-columns" aria-live="polite" {% if not isAdmin %}data-branch="{{userBranch}}"{% endif %}>
        <div class="block">
            <blockquote class="kpi">
                <q class="kpi__stat kpi__stat--orange" id="kpi-applicants">{{ loader() }}</q>
                <cite class="kpi__caption">Applicants {% if branchQuery %}to this branch{% else %}to all branches{% endif %} in the last 30 days</cite>
            </blockquote>
        </div>
        <div class="block">
            <blockquote class="kpi">
                <q class="kpi__stat" id="kpi-unbooked-slots">{{ loader() }}</q>
                <cite class="kpi__caption with-tooltip" title="Including remote interviews hosted at other nearby branches">Unbooked interview slots {% if branchQuery %}for this branch{% else %}for all branches{% endif %} right now</cite>
            </blockquote>
        </div>
        <div class="block">
            <blockquote class="kpi">
                <q class="kpi__stat kpi__stat--purple" id="kpi-avg-waiting-time">{{ loader() }}</q>
                <cite class="kpi__caption">Average time an applicant will wait for an interview {% if  branchQuery %}for this branch{% else %}across all branches{% endif %}</cite>
            </blockquote>
        </div>
    </section>

    <a href="/statistics" class="stats__link">See cluster and region stats</a>
{% endif %}

<main class="block block--bottom-margin">
    <h2 class="block__title">{% if sortQuery === "soonest" %}Upcoming interviews{% else %}Recent applicants{% endif %}{% if page > 1 %}, page {{ page }}{% endif %}</h2>
    <form class="applicants-filters">
        {% if isAdmin %}
            <label for="branch" class="visually-hidden">Branches to display</label>
            <select class="applicants-filters__select" id="branch" name="branch">
                <option value="" {% if branchQuery === "" %}selected{% endif %}>All branches</option>
                {% for branch in branches %}
                    <option value="{{ branch.id }}" {% if branchQuery === branch.id %}selected{% endif %}>{{ branch.name }}</option>
                {% endfor %}
            </select>
        {% endif %}
        <label for="sort" class="visually-hidden">Sort results</label>
        <select class="applicants-filters__select" id="sort" name="sort">
            <option value="" {% if sortQuery === "" %}selected{% endif %}>Sort by newest</option>
            <option value="soonest" {% if sortQuery === "soonest" %}selected{% endif %}>Sort by soonest interview</option>
        </select>
    </form>

    <table class="applicants-table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col" class="with-tooltip" title="The branch this person wants to volunteer at">Chosen branch</th>
                <th scope="col" class="with-tooltip" title="The time and date of the interview this person booked">Interview</th>
                <th scope="col" class="with-tooltip" title="When this person filled in the online form">Applied</th>
            </tr>
        </thead>
        <tbody>
            {% for applicant in applicants %}
                <tr>
                    <th scope="row"><a href="/applicant/{{applicant.enquiryId}}">{{applicant.firstName}} {{applicant.lastName}}</a></th>
                    <td>{{applicant.branchName}}</td>
                    <td>{% if applicant.booking.startTime %}{{ applicant.booking.startTime | prettyDate }}{% endif %}</td>
                    <td>{% if applicant.applicationTime %}{{ applicant.applicationTime | timeTo }}{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <section class="controls">
        <button class="button button--download controls__export" id="launch-modal">Export</button>
        <div class="pagination">
            {% if page > 1 %} <button class="button pagination__button pagination__button--previous" onclick="window.location='/page/{{page - 1}}'+window.location.search;">Previous</button>{% endif %}   
            {% if not lastPage %}<button class="button pagination__button pagination__button--next" onclick="window.location='/page/{{page + 1}}'+window.location.search;">Next</button>{% endif %}
        </div>    
    </section>

</main>

<dialog class="modal block">
    <button class="modal__close">Close</button>
    <article class="modal__inner">
        <h2 class="block__title modal__title">Export applicant data</h2>
        <p>You can download a summary of this data as a file, which you can open in apps like Excel.</p>
        {% if branchQuery %}
            <p><strong>Only data for the currently selected branch will be downloaded.</strong></p>
            <p>It may take a moment for the download to start.</p>
            <a href="/export/{{ branchQuery }}" class="button button--download modal__button">Download CSV</a>
        {% else %}
            <p><strong>Data for all branches will be downloaded.</strong></p>
            <p>It may take a moment for the download to start.</p>
            <a href="/export" class="button button--download modal__button">Download CSV</a>
        {% endif %}
    </article>
</dialog>

{% endblock %}