{% extends "_layout.njk" %}

{% block headline %}Application dashboard{% endblock %}
{% block lede %}See how your branch is performing in recruitment, relative to others in the region and the country.{% endblock %}


{% block main %}

<main class="block block--bottom-margin">
    <h2 class="block__title">Recent applicants{% if page %}, page {{ page }}{% endif %}</h2>

    <table class="applicants-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Application date</th>
                <th>Interview</th>
            </tr>
        </thead>
        <tbody>
            {% for applicant in applicants %}
                <tr>
                    <td>{{applicant.firstName}} {{applicant.lastName}}</td>
                    <td>{{applicant.email}}</td>
                    <td>{{applicant.phone}}</td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</main>

{% endblock %}