{% extends "_layout.njk" %}
{% block headline %}Application dashboard{% endblock %}
{% block lede %}See how your branch is performing in recruitment, relative to others in the region and the country.{% endblock %}
{% block main %}

<main class="block block--bottom-margin">
    <h2 class="block__title">Recent applicants{% if page %}, page {{ page }}{% endif %}</h2>

    <form class="applicants-filters">
        <select class="applicants-filters__select" name="branch">
            <option value="">All branches</option>
        </select>

        <select class="applicants-filters__select" name="sort">
            <option value="most-recent">Most recent</option>
            <option value="soonest-interview">Soonest interview</option>
        </select>
    </form>

    <table class="applicants-table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Applied</th>
                <th scope="col">Interview</th>
                {# <th>Interview done?</th> #}
            </tr>
        </thead>
        <tbody>
            {% for applicant in applicants %}
                <tr>
                    <td scope="row"><a href="/applicant/{{applicant.enquiryId}}">{{applicant.firstName}} {{applicant.lastName}}</a></td>
                    <td>{{applicant.email}}</td>
                    <td>{{applicant.phone}}</td>
                    <td>{% if applicant.applicationTime %}{{ applicant.applicationTime | timeTo }}{% endif %}</td>
                    <td>{% if applicant.booking.startTime %}{{ applicant.booking.startTime | prettyDate }}{% endif %}</td>
                    {# <td>{{applicant.status}} {% if applicant.status %}<img src="/img/tick.svg" alt="Yes"/>{% endif%}</td> #}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        {% if page > 1 %} <a class="button pagination__button pagination__button--previous" href="/page/{{page - 1}}">Previous</a>{% endif %}   
        <a class="button pagination__button pagination__button--next" href="/page/{{page + 1}}">Next</a>
    </div>

</main>

{% endblock %}