{% extends "_blank-layout.njk" %}

{% block main %}

<a class="login-logo" href="/">
    <img class="login-logo__image" src="/img/logo.png" alt="Samaritans"/>
</a>

<main class="block login login--thanks">
    <h1 class="login__thanks">Not registered</h1>
    <p>That email address is not allowed access. Please double-check and <a href="/login">try again</a>.</p>
</main>

<p class="login-help">Need help? <a href="mailto:volunteering@samaritans.org">Email us</a></p>

{% endblock %}
