{% extends "_blank-layout.njk" %}

{% block main %}

<a class="login-logo" href="/">
    <img class="login-logo__image" src="/img/logo.png" alt="Samaritans"/>
</a>

<main class="block login">

    <h1 class="login__thanks">Thanks!</h1>

    <p>Check your email and follow the link to finish logging in.</p>
</main>

<p class="login-help">Need help? <a href="mailto:volunteering@samaritans.org">Email us</a></p>

{% endblock %}
