<form method="post" action="login">
    <label for="email">Your recruitment email address</label>
    <input type="email" name="user" id="email"/>
    <button type="submit">Start log in</button>
</form>