* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Calibri", sans-serif; }

body {
  background: linear-gradient(to right, #d8d4c2 0%, #fdfdfd 29%, #fdfdfd 71%, #d8d4c2 100%); }

.container {
  max-width: 1016px;
  margin: 0px auto;
  padding: 0px 15px; }

.block {
  background: #ffffff;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1); }
